

# Local .terraform directories
**/.terraform/*

# Ignore variables files
# *.auto.tfvars

# Ignore override files
#*.tfoverride

# Ignore environment-specific files
#.envrc

# Ignore CLI configuration files
#.terraformrc
#terraform.rc

.gitignore
terraform_plan_out.txt
terraform_apply_with_logs.bat
terraform.tfstate

terraform_apply.config
terraform_plan_out.log
terraform_plan_with_logs.bat
tygerman_terraform_creds.txt